.news{
    width: 100%;
    .news-box{
        width: 100%;
        display: flex;
        background: #fff;
        padding: 60px 5% 100% 5%!important;
        .news_left{
            .left_banner{
                display: flex;
            }
            .dls{
                width: 250px;
                box-shadow: 0px 0px 8px rgba(48, 120, 192, 0.2);
                border-radius: 6px;
                margin-bottom: 0;
                dt{
                    width: 250px;
                    height: 250px;
                    background: rgba(34, 119, 204, 0.08);
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                dd{
                    background: #fff;
                    margin:0;
                    padding: 16px 0 16px 20px;
                }
            }
            .dls:nth-child(2){
                margin: 0 20px;
            }
            .left_list{
                margin-top:40px;
                background: #F8F8F8;
                box-shadow: 0px 0px 8px rgba(48, 120, 192, 0.2);
                border-radius: 6px;
                .list_ul{
                    li{
                        padding:20px;
                        h2{
                            font-size: 18px;
                            color:#333333;
                        }   
                        p{
                            font-size: 14px;
                            color:#666666;
                            margin: 10px 0;
                        }
                        .note{
                            display: flex;
                            justify-content: space-between;
                            padding-bottom: 20px;
                            border-bottom: 5px solid #F8F8F8;
                            span{
                                color:#979797;
                                i{
                                    margin-right:35px;
                                    font-style: normal;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .news_right{
            width: 250px;
            height: 400px;
            box-shadow: 0px 0px 8px rgba(48, 120, 192, 0.2);
            flex-shrink: 0;
            margin-left: 40px;
            .coin_list{
                width: 100%;
                height: 100%;
                &>ul{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    li{
                        flex: 1;
                        display: flex;
                        align-items: center;
                        &>div{
                            // height: 100%;
                        }
                        .li-left{
                            width: 50px;
                            padding-left: 20px;
                            b{
                                display: block;
                            }
                            span{
                                display: block;
                                i{
                                    margin-right: 10px;
                                    font-style: normal;
                                }
                            }
                        }
                        .li-right{
                            flex: 1;
                        }
                    }
                    li:nth-child(even){
                        background-color: rgba(34, 119, 204, 0.08);
                    }
                    li:nth-child(odd){
                        background-color: #fff;
                    }
                }
            }
        }
        .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container{
            height: 50px;
        }
        .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{
            line-height: 48px;
        }
        .card-container > .ant-tabs-card > .ant-tabs-content {
            // height: 120px;
            margin-top: -16px;
        }
        
        .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
            background: #fff;
        }
        
        .card-container > .ant-tabs-card > .ant-tabs-bar {
        border-color: #fff;
        }
        
        .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
        border-color: transparent;
        background: transparent;
        }
        .card-container .ant-tabs-tab-active,.ant-tabs-tab{
            font-size: 20px;
            color:#333333;
        }
        .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
        border-color: #fff;
        background: #fff;
        }
    }
}
@media screen and (max-width: 768px) {

}