$black87:rgba(0,0,0,.87);
$black60:rgba(0,0,0,.60);
$maincolor: #2277CC;
.retrievepassword{
    width: 310px;
    margin: 0 auto;
    text-align: center;
    .retrievepassword-header{
        margin-bottom: 24px;
    }
    .retrievepassword-content{
        margin-bottom: 40px;
    }
    input{
        width: 310px;
        height: 48px;
        margin-bottom: 24px;
        padding-left: 10px;
    }
    input::-webkit-input-placeholder{
        color: rgba(0,0,0,.38);
        padding: 0 16px;
    }
    button{
        width: 310px;
        height: 48px;
        margin-bottom: 60px;
    }
}
@media screen and (max-width: 768px) {
    .retrievepassword{
        width: 100%;
        input{
            width: 100%;
        }
        button{
            width: 100%;
        }
    }
}